<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yaodain.smartcabinet"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="34" />

    <application
        android:name="org.qtproject.qt.android.bindings.QtApplication"
        android:label="智能药柜"
        android:icon="@drawable/icon"
        android:allowBackup="true"
        android:usesCleartextTraffic="true">

        <activity
            android:name="org.qtproject.qt.android.bindings.QtActivity"
            android:label="智能药柜"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.lib_name" android:value="SmartMedicineCabinet" />
        </activity>
    </application>
</manifest>
