# Keil MDK-ARM 编译产物
*.o
*.obj
*.lst
*.d
*.crf
*.htm
*.dep
*.axf
*.hex
*.bin
*.iex
*.lnp
*.sct
*.map
*.build_log.htm

# JLink
JLinkLog.txt
JLinkSettings.ini

# Keil 用户配置（每次打开会变）
*.uvguix.*
*.uvoptx
*.scvd

# 中间目录
Objects/
Listings/
DebugConfig/
RTE/
